@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #343434;
    color: #e7e7e7;
    min-height: 100vh;
    line-height: 1.5;
}

.image-gradient{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
}

.layer-blur{
    height: 0;
    width: 30rem;
   position: absolute;
   top: 20%;
   box-shadow: 0 0 700px 15px white;
   rotate: -30deg;
   z-index: -1;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
    position: relative;
    overflow: hidden;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 5rem;
    z-index: 999;
}

header h1{
    margin: 0;
    font-size: 3rem;
    font-weight: 300;
}

nav{
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-left: -5%;
}

nav a{
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: color 0.2s ease;
    text-decoration: none;
    color: inherit;
}

nav a:hover{
    color: #a7a7a7;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(90vh - 6rem);
}

.content{
    max-width: 40rem;
    margin-left: 10%;
    z-index: 999;
}

.content h1{
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.description{
    font-size: 1.2rem;
    letter-spacing: 0.05rem;
    max-width: 35rem;
    color: grey;
}

.buttons{
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
}

.btn-projets{
    color: #EE82EE;
    text-decoration: none;
    border: 1px solid #2a2a2a;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
    width: fit-content;
}

.btn-projets:hover{
    background-color: #1a1a1a;
}

.btn-contact{
    text-decoration: none;
    background-color: lightgrey;
    color: black;
    padding: 0.7rem 1.2rem;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 0.1em;
    transition: background-color 0.2s ease;
}

.btn-contact:hover{
    background-color: grey;
}

.logo{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
    border-radius: 50%;
}

.content-competences{
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    z-index: 999;
    gap: 1.2rem;
}

.content-competences h1{
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    margin: 2rem 0;
    line-height: 1.2;
    text-shadow: 0 0 10px rgba(128, 128, 128, 0.418);
}

.panel-competences{
    display: flex;
    flex-wrap: wrap;
    border: 0.5px solid #4a4d4e;
    background-color: #353839;
    border-radius: 2.5rem;
    padding: 1.4rem 2rem;
    justify-content: center;
    gap: 25px;
    width: fit-content;
    max-width: 55%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

.panel-competences img{
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 0 10px rgba(128, 128, 128, 0.418));
    transition: transform 0.3s ease, filter 0.3s ease;
}

.panel-competences img:hover {
    transform: scale(1.1);
    filter: drop-shadow(0 0 15px rgba(238, 130, 238, 0.6)); /* Glow violet au survol */
}

.panel-projet{
    display: flex;
    flex-direction: column;
    border: 0.5px solid #4a4d4e;
    background-color: #353839;
    border-radius: 2.5rem;
    padding: 1.4rem 2rem;
    justify-content: center;
    gap: 25px;
    width: fit-content;
    max-width: 55%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.4);
}

footer{
    padding-top: 5rem;
}